body{
    margin: 5% 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body img{
    justify-content: center;
}
nav{
    font-size: 30px;
    font-weight: bold;
    margin: 1%;
    margin-right: 20%;
}
img{
    height: 31.%;
    width: 31%;
    margin: 1%;
    padding-top: 20PX;
    
}